<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applandeo.materialcalendarsampleapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Biological Clock For Women"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity android:name=".MainActivity"
            >

        </activity>

        <activity
            android:name=".CalendarActivity"
            android:label="Biological Clock For Women" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CalendarWithCustomRowActivity"
            android:label="Standard calendar with custom row" />

        <activity
            android:name=".OneDayPickerActivity"
            android:label="One day picker" >

        </activity>

        <activity
            android:name=".ManyDaysPickerActivity"
            android:label="Many days picker" >

        </activity>

        <activity
            android:name=".RangePickerActivity"
            android:label="Range picker" >

        </activity>
    </application>

</manifest>